@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #043863;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.container {
    background-color: rgb(0, 146, 146);
    padding: 2rem;
    width: 47%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

input {
    width: 75%;
    padding: 0.7rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #001322;
    font-weight: 400;
}

button {
    padding: 0.7rem 1.5rem;
    background-color: #e76060;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: black;
    color: rgba(5, 171, 201, 0.973);
    transition: 0.6s;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.recipe-card {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    width: 45%;
    text-align: center;
    cursor: pointer;
}

.recipe-card:hover {
    background-color: #dac1c1;
}

.recipe-card h2,
.recipe-card h4 {
    margin: 0.5rem 0;
    color: #002947;
}

#recipe-details,
#recipe-text {
    color: rgb(235, 235, 235);
}

#recipe-details h2 {
    margin-bottom: 0.5em;
}

#recipe-details ul {
    list-style: none;
    padding: 0;
    font-size: 1.05rem;
}

#recipe-details ul li {
    margin-bottom: 0.5rem;
}

#recipe-text {
    font-size: 1.1rem;
    line-height: 27px;
    margin-bottom: 1rem;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

h3 {
    text-align: center;
    margin-top: 1.8em;
    color: rgb(235, 235, 235);
    font-weight: 400;
}

#loader {
    margin: auto;
    font-size: 1.5rem;
    color: white;
}